.section3-table tr{
	height: 30px !important;
}

.table-lv1, .table-lv2{
	height: 60px !important;
}

input.primary{
	height: 31px;
	float: left;
}

div.tableContainer {
	overflow: scroll;
	width: 900px !important;
}
thead.fixedHeader th {
	text-align: center !important;
	background: #C1C1C1 !important;
	color: #404040 !important;
	font-weight: bold !important;
	border: none !important;
}
.fixedHeader th{
	float: none !important;
	display: block !important;
}
.fixedHeader tr{
	float: none !important;
	position: relative !important;
	top: 0px !important;
}

.table-lv1 .moo-col-1{
	background: #A3A3A3 !important;
}

.table-lv2 .moo-col-1{
	background: #C1C1C1 !important;
}

