body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/*!
 * Bootstrap v1.3.0
 *
 * Copyright 2011 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 * Date: Thu Sep 22 12:52:42 PDT 2011
 */
/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Forms.less
 * Base styles for various input types, form layouts, and states
 * ------------------------------------------------------------- */
form {
  margin-bottom: 18px;
}
fieldset {
  margin-bottom: 18px;
  padding-top: 18px;
}
fieldset legend {
  display: block;
  padding: 0 10px;
  font-size: 16px;
  line-height: 1;
  color: #404040;

  *line-height: 1.5;
  /* IE6-7 */

}
form .clearfix {
  margin-bottom: 18px;
  zoom: 1;
}
form .clearfix:before, form .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
form .clearfix:after {
  clear: both;
}
label,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
input.form-text {width: auto}
label {
/*
  margin: 0 10px 0 0 !important;
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 150px;
  text-align: right;
*/
  margin: 0 0 5px;
  font-weight: bold;
  color: #404040;
}
form .input {
  margin-left: 150px;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: auto;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* mini reset for non-html5 file types */
input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE6-7 */

  line-height: normal;
  border: none;
}
input[type=file] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
}
select, input[type=file] {
  height: 27px;
  line-height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

}
select[multiple] {
  height: inherit;
}
textarea {
  height: auto;
}
.uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}
input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}
form div.clearfix.error {
  background: #fae5e3;
  padding: 10px 0;
  margin: -10px 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form div.clearfix.error > label, form div.clearfix.error span.help-inline, form div.clearfix.error span.help-block {
  color: #9d261d;
}
form div.clearfix.error input, form div.clearfix.error textarea {
  border-color: #c87872;
  -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
}
form div.clearfix.error input:focus, form div.clearfix.error textarea:focus {
  border-color: #b9554d;
  -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
}
form div.clearfix.error .input-prepend span.add-on, form div.clearfix.error .input-append span.add-on {
  background: #f4c8c5;
  border-color: #c87872;
  color: #b9554d;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}
.actions {
  background: #f5f5f5;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 17px 20px 18px 150px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.actions .secondary-action {
  float: right;
}
.actions .secondary-action a {
  line-height: 30px;
}
.actions .secondary-action a:hover {
  text-decoration: underline;
}
.help-inline, .help-block {
  font-size: 11px;
  line-height: 18px;
  color: #bfbfbf;
}
.help-inline {
  padding-left: 5px;
  *position: relative;
  /* IE6-7 */

  *top: -5px;
  /* IE6-7 */

}
.help-block {
  display: block;
  max-width: 600px;
}
.inline-inputs {
  color: #808080;
}
.inline-inputs span, .inline-inputs input {
  display: inline-block;
}
.inline-inputs input.mini {
  width: 60px;
}
.inline-inputs input.small {
  width: 90px;
}
.inline-inputs span {
  padding: 0 2px 0 1px;
}
.input-prepend input, .input-append input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend .add-on, .input-append .add-on {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #ccc;
  z-index: 2;
  float: left;
  display: block;
  width: auto;
  min-width: 16px;
  height: 18px;
  padding: 4px 4px 4px 5px;
  margin-right: -1px;
  font-weight: normal;
  line-height: 18px;
  color: #bfbfbf;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend .active, .input-append .active {
  background: #a9dba9;
  border-color: #46a546;
}
.input-prepend .add-on {
  *margin-top: 1px;
  /* IE6-7 */

}
.input-append input {
  float: left;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append .add-on {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  margin-right: 0;
  margin-left: -1px;
}
.inputs-list {
  margin: 0 0 5px;
  width: 100%;
}
.inputs-list li {
  display: block;
  padding: 0;
  width: 100%;
}
.inputs-list label {
  display: block;
  float: none;
  width: auto;
  padding: 0;
  line-height: 18px;
  text-align: left;
  white-space: normal;
}
.inputs-list label strong {
  color: #808080;
}
.inputs-list label small {
  font-size: 11px;
  font-weight: normal;
}
.inputs-list .inputs-list {
  margin-left: 25px;
  margin-bottom: 10px;
  padding-top: 0;
}
.inputs-list:first-child {
  padding-top: 6px;
}
.inputs-list li + li {
  padding-top: 2px;
}
.inputs-list input[type=radio], .inputs-list input[type=checkbox] {
  margin-bottom: 0;
}
.form-stacked {
  padding-left: 20px;
}
.form-stacked fieldset {
  padding-top: 9px;
}
.form-stacked legend {
  padding-left: 0;
}
.form-stacked label {
  display: block;
  float: none;
  width: auto;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  padding-top: 0;
}
.form-stacked .clearfix {
  margin-bottom: 9px;
}
.form-stacked .clearfix div.input {
  margin-left: 0;
}
.form-stacked .inputs-list {
  margin-bottom: 0;
}
.form-stacked .inputs-list li {
  padding-top: 0;
}
.form-stacked .inputs-list li label {
  font-weight: normal;
  padding-top: 0;
}
.form-stacked div.clearfix.error {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-left: -10px;
}
.form-stacked .actions {
  margin-left: -20px;
  padding-left: 20px;
}
/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
table {
/*   width: 100%; */
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
  border-collapse: separate !important;
  *border-collapse: collapse !important;
  /* IE7, collapse table to remove spacing */

  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table th, table td {
  padding: 5px 5px 4px;
  line-height: 18px;
  text-align: left;
}
table th {
  color: #298DCD;
  padding-top: 4px;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
table td {
  vertical-align: top;
  line-height: 34px
}
table th + th, table td + td {
  border-left: 1px solid #ddd;
}
table tr + tr td {
  border-top: 1px solid #ddd;
}
table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td {
  background-color: #f5f5f5;
}
table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}

/* default */
.list-view .summary {font-size: 0.9em; color: #666}
table td input, table td select  {width: 95% !important;}
.form h3 {color: #0066A4}

/* style block */
.grid-view .filters input, .grid-view .filters select {width: 95%}

/* style block popup */
.add_coordinator_dialog .item-wrapper {margin: 0 0 10px;}
  .add_coordinator_dialog span, .dialog_input span {width: 90px; float: left; font-size: 0.9em}

.dialog_input select, .dialog_input .item-wrapper {margin: 0 0 10px}  
/* Create Request */
div.form .row {margin: 0 0 15px;}
#request-form .row {}
.location-list, .coordinator-list, .need-list, .detail-list,
.extra-text-0-list, .extra-text-1-list {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #C9E0ED;
  padding: 10px;
  overflow: hidden;
  width: auto;
  margin: 0 0 10px !important
}
.location-list span {float: left; margin: 0 15px 0 0;}
.extra-double  {padding: 5px 0 0; clear: both;}
.extra-double table {border: none; margin-bottom: 0; margin-top: 0;}
.extra-double table tr td {padding: 0;}
.extra-double table tr + tr td {border-top: 0;}
.extra-double table th + th, .extra-double table td + td {border-left: 0;}
.extra-double-value, .extra-double-suffix {width: 50px}

.extra-double-label {font-weight: bold; width: 120px;}


.ckeditor-wrapper, table.cke_editor {width: 98%;}
.detail-list label {display: none}
.detail-list .cke_skin_kama {width: 90% !important}

  .location-list .detail-list textarea {width: 98%}

.coordinator-list a.add-coordinator,
.need-list a.add-items,  a.needs-item-delete {
  background: url(/images/ic-add.png) no-repeat -7px -7px;
  margin: 0;
  padding: 0 0 0 20px
}
a.needs-item-delete, .coordinator-item-delete {
  background: url(/images/ic-delete.png) no-repeat 0 0;
} 
a.needs-item-delete {margin: 0;padding: 0;}

td.operations {vertical-align: middle}
.coordinator-item-delete,
.needs-item-delete {
  text-indent: -999em;
  display: block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 0 auto !important
}

/* Request */
.Request_location {float: left; margin: 0 0 15px 20px}
.Request_location ul {list-style: none; padding: 0; margin: 0;}
.Request_location ul li {float: left; width: 200px;}
.Request_location ul li span.label {padding: 0; float: none; width: 65px}
.Request_location ul li span {padding: 0 0 0 10px}

.Label_Request_last_updated {clear: both;}
.request-view {overflow: hidden; width: auto}
.request-list .label {float: left; width: 160px; margin: 0 0 5px; clear: both}
.request-view h3 {margin: 0 0 10px; clear: both; font-size: 1.2em; color: #0066A4}
.request-view .detail, .request-list .detail {margin: 0 0 10px 20px; float: left}
.request-view .summary {
  float: right; 
  text-align: right; 
  font-size: 0.9em;
  margin: 0;
  color: #999
}
  .Request_coordinators .grid-view {padding: 5px 0 15px}

/* request list */
.request-list {overflow: hidden; width: auto;}
.request-list ul {padding: 0; margin: 0; list-style: none;}
.request-list ul li {display: inline; margin: 0 30px 0 0;}
.request-list ul li label {font-weight: bold}
.request-list ul li .label {width: 65px;float: none; margin: 0 10px 0 0; width: 65px; font-weight: bold;}


/*
* table
*/
table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  font-size: 13px;
  border-collapse: collapse;
/*   border: 1px solid #ddd; */
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

table th + th, table td + td, table th + td {
/*   border-left: 1px solid #ddd; */
}
table thead tr:first-child th:first-child, table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table thead tr:first-child th:last-child, table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}


table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
table th {
  background: #e2e2e2;
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
}
table td {
  vertical-align: top;
  border-top: 1px dashed #ddd;
}
table tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}
.zebra-striped tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td, .zebra-striped tbody tr:hover th {
  background-color: #f5f5f5;
}


/* ul */
ul, ol {
margin: 0 0 18px 25px;
}
ul {
list-style: disc;
}
li {
line-height: 18px;
color: gray;
}

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

/*
* layout
*/
body{
	color: #444444;
	background: url('../images/bg-tambon.png') ;
}
#wrapper {
  width: 100%;
  margin: 0 auto;
}

/*
* All h1-h6 
*/
#section-report h2, #section-database header h2,
#entry-1 header h1{
	font-size: 24px;
	margin-bottom: 0.9em;
}
h1{
	font-size: 20px;
	margin-bottom: 0.9em;
	line-height: 1.5em;
}
h2{
	font-size: 18px;
	margin-bottom: 0.9em;
}


p{
	margin-bottom: 1em;
}


/*
* Logo
*/
#logo{
	float: left;
}
#logo a{
	width: 264px;
	height: 35px;
	display: block;
	text-indent: -999em;
	background: url('../images/logo-tambon.png') no-repeat ;
}

/*
* Links
*/
a{
	color: #cf614e;
}
a:link    {}
a:visited {}
a:hover   {
	color: #cf614e;
	text-decoration: underline;
}
a:active  {}


/*
* Header
*/
#header {
	margin: 0 auto;
	margin-bottom: 20px;
}
#header header {
	padding: 40px 0 20px;
	background: url('../images/bg-header-tambon.png') center bottom no-repeat ;
}


/*
* Search Box
*/
#search{
	float: right;
	display: inline;
}
	#search label{
		text-indent: -999em;
		position: absolute;
	}
	#search .form-text{
		height: 14px;
		padding: 3px;
		color: #7676ae;
		border: 1px solid #b9b9b9;
		font-size: 11px;
	}
	#search .submit-search{
		border: none;
		height: 22px;
		margin-left: -4px;
		color: #fff;
		background: #A3A3A3;
	}

/*
* Nav
*/
nav {
	clear: both;
	text-align: right;
	padding: 10px 0 0;
}
  nav ul {
	  list-style: none;
  }
  nav ul li {
	  display: inline;
	  margin: 0 15px;
  }
  nav ul li:last-child{
	  margin-right: 0;
  }
  nav a{
	  color: #7d7d7d;
  }

/*
* header-top
*/
#header-top {
	margin: 0 0 20px;
  border-bottom: 7px solid #cf614e;
}
#header-top section {

}

#content, #header header, footer {
	width: 840px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

/*
* content
*/
#content {
	overflow: hidden;
	padding: 0 0 40px;
	background: url('../images/bg-bottom-tambon.png') center bottom no-repeat ;
}
	#content article, #section-stat {
/*
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
*/
	}


/*
* Drop shadow & border-radius
*/
.drop-shadow {
	position:relative;   
	padding:1em; 
	margin:2em 10px 4em; 
	background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 0 20px;
  float: left;
  width: 800px;
  clear: both;
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute; 
  z-index:-2;
}
/* Curved shadows */
.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.3);
    box-shadow:0 0 15px rgba(0,0,0,0.3);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}
.curved-vt-2:before {
    right:0;
}
.curved-hz-1:before {
    top:50%;
    bottom:0;
    left:130px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
    width: 70%;
}
.curved-hz-2:before {
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}


/*
* Separate 2 section in block
*/
.st-area, #rp-sticky{
	float: left;
	padding : 0 25px 0 0;
	width: 250px;
	border-right: 1px solid #ccc;
}
.st-need, #rp-list{
	float: left;
	padding : 0 0 0 25px;
	width: 490px
}


/*
* ข้อมูลพื้นที่ที่ได้รับความเสียหาย
*/
.st-area li{
	float: left;
	width: 90px;
	padding: 10px;
	margin: 0 10px 0 0;
	text-align: center;
	border: 1px solid #dbdbdb;
	-moz-box-shadow: inset 0 0 5px #e6e6e6;
	-webkit-box-shadow: inset 0 0 5px #e6e6e6;
	box-shadow: inner 0 0 5px #e6e6e6;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fcfcfc;
}
.st-area h1, .st-need h1{
	font-size: 18px;
	margin-bottom: 0.9em;
}
.st-area h2, .st-need h2{
	font-size: 14px;
}
.st-area li h2{
	margin: 0 0 5px;
}
strong.help{
	font-size: 26px;
	color: #cf614e;
}
strong.location{
	font-size: 26px;
}

.st-need ul{
	list-style: none;
	margin: 0;
}
.st-need li{
	float: left;
	width: 220px;
	margin: 0 20px 10px 0;
}

/*
* รายงานสถานการณ์
*/
#rp-list article{
	margin: 0 0 10px;
	line-height: 1.8em;
}
#rp-list span, #rp-sticky span{
	padding: 3px 7px;
	background: #dbdbdb;
	font-size: 11px;
	color: #646464;
	margin-right: 10px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#rp-sticky h3{
	font-size: 15px;
	margin: 10px 0;
}
#rp-list p{
	display: inline;
}


/*
* ฐานข้อมูล
*/
.db-list{
	float: left;
	width: 800px;
	margin: 10px 0;
	padding: 10px 0;
	line-height: 24px;
	border-bottom: 1px solid #cbcbcb;
}
	/* 	3 Cols in db-list */
	.db-item1{
		float: left;
		width: 240px;
		margin-right: 20px;
	}
	.db-item1 h2{
		font-size: 13px;
	}
	.db-item2{
		float: left;
		width: 250px;
		margin-right: 20px;
	}
	.db-item3{
		float: left;
		width: 270px;
	}

#section-database header h2, #section-database header form, #section-database header h1{
	float: left;
	margin: 0 15px 0 0;
}
#section-database header form{
	line-height: 26px;
}
	#section-database header form label{
		margin-right: 10px;
	}

.db-item1 h2{
	padding-left: 30px;
	color: #da6b63;
	background: url('../images/pin-tambon.png') 0 7px no-repeat ;
}

.db-item1 h2 .location{
	color: #333;
	display: block;
}

.db-item3 li{
	float: left;
	margin: 0 10px 0 0;
}
.db-item3 li .in-active{
	opacity: 0.5;
}

/*
* footer
*/
#footer {
  padding: 20px 0;
  clear: both;
  font-size: 11px;
}
footer{
	overflow: hidden;
}
#nav-footer{
	float: left;
	margin: 0;
}
	#nav-footer li {
	  display: inline;
	  margin: 0 10px 0 0;
	}
	#nav-footer a{
	  color: #7d7d7d;
	}
	
#footer-copyright{
	float: right;
	width: 385px;
}
#footer-copyright img{
	margin-right: 10px;
}
#develop{
	clear: both;
	float: right;
}
.readmore {clear: both;}
.readmore a{
	clear: both;
	float: right;
	display: block;
	overflow: hidden;
	width: 81px;
	height: 34px;
	text-indent: -999em;
	background: url('../images/readmore.png') no-repeat ;
}
.readmore a:hover{
	background-position: 0 -34px;
}

/*
* Bar
*/
.st-need li img{
	float: left;
	margin: 0 10px 0 0;
}
.bar{
	float: left;
	width: 180px;
	height: 17px;
	margin-top: 2px;
}

@-webkit-keyframes foo {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.bar div{
	background: #ff5959;
	height: 17px;
	color: #fff;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
 -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -ms-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
        transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 

-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
        transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
}
.bar div span{
	font-weight: bold;
	padding: 0 5px;
	color: #fff;
	float: right;
	font-size: 11px;
}



/*
* Entry page
*/
/* Set width & width shadow */
.st-update, #map{
	width: 520px;
}
#entry-page .st-need{
	float: right;
	width: 230px;
	margin-top: -245px;
}
#entry-page .curved-hz-1:before{
	left: 30px;
}

/* 2 Cols */
.col2{
	float: left;
	width: 370px;
	margin: 0 30px 0 0;	
}

/* tambon another */
#st-village ul li{
	float: left;
	width: 230px;
	margin: 0 20px 5px 0;
}
#entry-page .st-need{
	padding: 20px 0 20px 25px;
}

.entry-update{
	width: 380px;
	float: left;
}
.entry-update header{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	text-align: center;
}
.entry-update p{
	float: left;
	font-size: 14px;
	width: 105px;
	margin: 0 20px 0 0;
}
.entry-update strong{
	font-size: 24px;
	font-weight: bold;
	display: block;
	margin-top: 5px;
}
#entry-date{
	width: 115px;
	height: 110px;
	float: left;
	margin-right: 25px;
}

#entry-date .year{
	display: block;
	font-size: 18px;
	margin: 0 0 10px;
	font-weight: bold;
	text-align: center;
}

#entry-date .day, #entry-date .month{
	padding: 30px 5px 15px 5px;
	font-size: 32px;
	background: #F7F4EE;
	border: 1px solid #CDCBC6;
	display: block;
	float: left;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f7f4ee url('../images/clock-day.png') no-repeat ;
}
#entry-date .day{
	margin-right: 5px;
	background-position: 13px 6px;
}
#entry-date .month{
	background-position: 6px -78px;
}





