/****************************************************

*** Update 7/12/11 ***

I remove style-tambon.css to style-tambon-backup.css

*****************************************************/





/****************************************************
										Infoaid.org
*****************************************************/
body{
	font: 13px Helvetica, Thonburi,Tahoma,sans-serif;
	color: #444444;
	background: url('../images/bg-line.png');
}



/**********************
				 Links
***********************/
a{
	color: #cf614e;
}
a:link    {}
a:visited {}
a:hover   {
	color: #cf614e;
	text-decoration: underline;
}
a:active  {}



/**********************
				 Form
***********************/
select {
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


/**********************
				 Font
***********************/
@font-face {
  font-family: 'DBMettaXMedium';
  src: url('../font/db_metta_x_med_v3.2-webfont.eot');
  src: url('../font/db_metta_x_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/db_metta_x_med_v3.2-webfont.woff') format('woff'),
       url('../font/db_metta_x_med_v3.2-webfont.ttf') format('truetype'),
       url('../font/db_metta_x_med_v3.2-webfont.svg#DBMettaXMedium') format('svg');
  font-weight: lighter;
  font-style: normal;
}




/**********************
			 Layout
***********************/
.wrapper {
  background: url('../images/bg-ground.png') repeat-x;
}
#content, #header header, footer {
	width: 940px;
	margin: 0 auto;
}

/* Header (Nav, Logo, Search box) */
#header {
	margin-top: 15px;
	background: url('../images/bg-header.png') center top repeat-x ;
}
#header header {
	height: 77px;
	position: relative;
}

/* Header-top (Big map) */
#header-top {

}
#header-top section {

}

/* Content */
#content {

}

/* Footer */
#footer {

}
footer{

}



/**********************
		webform-filters
**********************/
#control-box{
	width: 298px;
	padding: 15px;
	border: 1px solid #b2b2b2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background: url('../images/bg-filter.png') ;
}
#control-box h2{
	font: 20px/28px 'DBMettaXMedium';
	font-weight: lighter;
	margin: 0 0 15px;
}
#webform-filters ul{
	margin: 0 0 20px;
}
	#webform-filters li{
		padding: 15px 10px;
		margin: 0 0 1px;
		background: #cfcfcf;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
	}
	#webform-filters label{
		display: inline-block;
		width: 150px;
		padding: 0 20px;
		vertical-align: middle;
		color: #616161;
		
		zoom: 1; /* IE7 display: inline-block hack */
		*display:inline;
	}

/**********************
				table
**********************/

/**********************
			 Heading
***********************/



/**********************
			 Map
***********************/
#map{
	position: absolute;
	top: 85px !important;
	left: 0 !important;
	height: 100% !important;
	z-index: -99 !important;;
}


/**********************
 Drop shadow for Block 
***********************/
.drop-shadow {
	position:relative;   
	padding:1em; 
	margin:2em 10px 4em; 
	background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 0 20px;
  float: left;
  width: 800px;
  clear: both;
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute; 
  z-index:-2;
}
/* Curved shadows */
.curved:before {
	top:10px;
	bottom:10px;
	left:0;
	right:50%;
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.3);
	box-shadow:0 0 15px rgba(0,0,0,0.3);
	-moz-border-radius:10px / 100px;
	border-radius:10px / 100px;
}
.curved-vt-2:before {
    right:0;
}
.curved-hz-1:before {
	top:50%;
	bottom:0;
	left:130px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
	width: 70%;
}
.curved-hz-2:before {
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}


/**********************
		 Header Section
***********************/
/* Logo */
#logo-img{
	position: absolute;
	top: -3px;
	left: 0;
	margin: 0 50px 0 0;
}

/* Nav */
nav {
	float: left;
	margin: 26px 0 0 210px;
	
}
  nav ul {
	  list-style: none;
  }
  nav ul li {
	  display: inline;
	  margin: 0 35px 0 0;
  }
  nav ul li:last-child{
	  margin-right: 0;
  }
  nav a{
	  padding: 0 7px;
	  font: 16px/24px 'DBMettaXMedium';
		font-weight: lighter;
	  color: #afafaf;
  }
	  nav a:hover, nav ul li.active a{
		  background: #616161;
		  color: #fff;
		  text-decoration: none;
		  border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-o-border-radius: 5px;
	  }
	  
*+html nav{ /* IE7 */
	overflow: hidden;
}


/**********************
		Content Section
***********************/




/**********************
		Footer Section
**********************/




/**********************
			Chart Bar
**********************/
.st-need li img{
	float: left;
	margin: 0 10px 0 0;
}
.bar{
	float: left;
	width: 180px;
	height: 17px;
	margin-top: 2px;
}
.bar .value{
	display: none;
}
.bar div{ /* Bar */
	background: #D2644A;
	height: 17px;
	color: #fff;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
   -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -ms-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
        transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 

	-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
        transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
        
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
}

.bar div span{ /* Number */
	font-weight: bold;
	padding: 0 5px;
	color: #fff;
	float: right;
	font-size: 11px;
}








/********************
			pop up
********************/
.tooltip-popup{
	height: 15px;
	min-width: 80px;
	white-space: nowrap;
	text-align: center;
	padding: 5px;
	background: #333;
	color: #fff;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}
.db-item3 li, .st-need li{
	position: relative;
}
.db-item3 li .tooltip-popup, .st-need li .tooltip-popup{
	display: none;
}
.db-item3 li:hover .tooltip-popup, .st-need li:hover .tooltip-popup{
	display: block;
	position: absolute;
	left: -15px;
	top: -35px;
	-moz-animation-name: pop;
  -moz-animation-duration: 300ms;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-name: pop;
  -webkit-animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
  animation-name: pop;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.tooltip-popup:after {
  border-color: #333 transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  bottom: -5px;
  content: "";
  display: block;
  left: 21px;
  position: absolute;
  width: 0;
}

@-webkit-keyframes pop{
	0%{
		opacity: 0;
		top: -30px;
	}
	100%{
		opacity: 1;
		top: -35px;
	}
}
@-moz-keyframes pop {
  0%{
		opacity: 0;
		top: -30px;
	}
	100%{
		opacity: 1;
		top: -35px;
	}
}
@keyframes pop {
  0%{
		opacity: 0;
		top: -30px;
	}
	100%{
		opacity: 1;
		top: -35px;
	}
}






/********************
 * Programer - Content Manager
/********************/
.content-manager {
    margin: 0 auto;
    overflow: hidden;
    width: 840px;
}
.content-manager .portlet-title {
  display: none;
}
.content-manager ul {
  float: right;
  margin-bottom: 5px;
}
.content-manager li {
  float: left;
  list-style: none;
  background-color: #FFF;
  padding: 5px 10px 2px;
  margin-left: 2px;
}
.content-manager li:first-child {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.content-manager li:last-child {
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.content-map-row .db-list{
	width: 530px;	
	height: 90px;
	border-bottom: none;
}
