/****************************************************
										Infoaid.org
*****************************************************/
body{
	font: 13px Helvetica, Thonburi,Tahoma,sans-serif;
	color: #444444;
	background: url('../images/bg-line.png');
}



/**********************
				 Links
***********************/
a{
	color: #cf614e;
}
a:link    {}
a:visited {}
a:hover   {
	color: #cf614e;
	text-decoration: underline;
}
a:active  {}



/**********************
				 Form
***********************/
select {
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.location-filters-input select{
	display: block;
	width: 180px;
	margin: 0 0 5px;
}

#location-multiple #Location_level0, 
#location-multiple #Location_level1, 
#location-multiple #Location_level2, 
#location-multiple #Location_level3 {
	width: 160px;
	margin: 0 0 10px;
	display: block;
	float: left;
	margin-right: 10px;
}

#location-add, #location-clear {
	padding: 4px 10px;
	border: 1px solid #333;
	background: #555;
	color: whiteSmoke;
}

#content-form .actions {
  margin-top: 0;
  border-bottom: 1px solid #DDDDDD;
}

/**********************
				 Font
***********************/
@font-face {
  font-family: 'DBMettaXMedium';
  src: url('../font/db_metta_x_med_v3.2-webfont.eot');
  src: url('../font/db_metta_x_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/db_metta_x_med_v3.2-webfont.woff') format('woff'),
       url('../font/db_metta_x_med_v3.2-webfont.ttf') format('truetype'),
       url('../font/db_metta_x_med_v3.2-webfont.svg#DBMettaXMedium') format('svg');
  font-weight: lighter;
  font-style: normal;
}



/**********************
			 Layout
***********************/
.wrapper {
  background: url('../images/bg-ground.png') repeat-x;
}
#content, #header header, footer {
	width: 940px;
	margin: 0 auto;
}

#header {
	position: relative;
	z-index: 99;
	margin-top: 15px;
	background: url('../images/bg-header.png') center top repeat-x ;
}
#header header {
	height: 77px;
	position: relative;
}

/* Footer */
#footer {
	display: none;
}

#sidebar-fix{
	position: relative;
	z-index: 99;
	float: left;
	width: 300px;
	margin: 20px 20px 0 0;
/*
	opacity: 0;
	-webkit-animation-name: slide;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 2s;
	-moz-animation-name: slide;
	-moz-animation-duration: 500ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-fill-mode: forwards;
	-moz-animation-delay: 2s;
	animation-name: slide;
	animation-duration: 500ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: 2s;
*/

}


/**********************
		Webform Filters
**********************/
#control-box, #about-box{
	float: left;
}
#control-box, .display-manager, #webform-detail .general, #webform-detail #map,
#about-box {
	width: 268px;
	padding: 15px;
	border: 1px solid #b2b2b2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background: url('../images/bg-filter.png') ;
}
#webform-filters .title, #location-filters .title{
	float: left;
	display: block;
	width: 270px;
	color: #333333;
	margin: 0 0 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background: #c2c2c2;
}
.color-label{
	width: 27px;
	height: 27px;
	display: block;
	float: left;
	margin-right: 10px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px; 
}
.color-text, .text-label{
	margin-top: 5px;
	display: block;
	float: left;
}
.title .filter-all{
	margin: 7px 0 0 8px;
}
.toggle-label-link, .toggle-label .hide{
	display: block;
	float: right;
	width: 18px;
	height: 17px;
	margin: 5px 10px 0 0;
	text-indent: -999em;
	background: url('../images/toggle.png') no-repeat ;
}
.toggle-label-link:hover{
	background-position: 0 -17px;
}
.toggle-label .hide{
	background-position: 0 -34px;
}

	
#webform-filters ul{
	margin: 0 0 20px;
}
	#webform-filters li{
		padding: 5px;
		margin: 0 0 1px;
		border-bottom: 1px solid #c3c3c3;
		border-top: 1px solid #fff;
	}
	#webform-filters li:first-child{
		border-top: none;
	}
	#webform-filters label{
		display: inline-block;
		width: 120px;
		padding: 0 20px 0 10px;
		vertical-align: middle;
		color: #616161;
		
		zoom: 1; /* IE7 display: inline-block hack */
		*display:inline;
	}
	#webform-filters .checkBox label{
	  width: 200px;
	}
	.ckeditor-wrapper {
	  clear: both;
	  margin-right: 13px;
	}

.location-filters-input{
	clear: both;
}	
	
/**********************
		Content Manager
**********************/	
.display-manager, #webform-detail .general, #webform-detail #map {
	border: 1px solid #b5b5b5;
	margin-bottom: 15px;
	background: url('../images/bg-white.png') ;
}
.display-manager h2{
	margin: 0 0 15px;
	padding: 5px;
	font: 20px/28px 'DBMettaXMedium';
	font-weight: lighter;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	
	background: #db4a4a;
	/* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f25454), to(#d14646));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f25454, #d14646);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f25454, #d14646);
  /* IE 10 */
  background: -ms-linear-gradient(top, #f25454, #d14646);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f25454, #d14646);
}

.display-manager li, .display-manager ul{
	display: inline;
}
.display-manager li:first-child{
	border-right: 1px solid #ccc;
	padding-right: 5px;
}
.display-manager .active{
	text-decoration: underline;
}


/**********************
				Web form
**********************/
.webform-content, ul.user-manager{
	float: left;
	width: 900px;
	padding: 20px;
	margin: 20px 0 40px;
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background: url('../images/bg-white.png') ;
}
#webform-index .webform-content{
	width: 578px;
}
.readmore{
	display: block;
	float: left;
	width: 580px;
	padding: 10px 0;
	margin: 10px 0 0;
	text-align: center;   
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background: #525252;
	/* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#525252), to(#424244));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #525252, #424244);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #525252, #424244);
  /* IE 10 */
  background: -ms-linear-gradient(top, #525252, #424244);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #525252, #424244);
}
.readmore a{
	color: #fff;
}

/**********************
		Webform Login
**********************/
.user-detail{
	position: absolute;
	top: 26px;
	right: 0px;
	height: 18px;
	padding: 3px 30px 3px 5px;
	color: #efefef;
	border-top: 1px solid #313131;
	border-left: 1px solid #313131;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	background: #8F8F8F url('/images/select.png') right center no-repeat;
}
	.user-detail:hover{
		cursor: pointer;
		background: #9C9C9C url('/images/select.png') right center no-repeat;
	}

.user-manager{
	position: absolute;
	top: 53px;
	right: 0px;
}
ul.user-manager{
	width: 150px;
	padding: 10px;
	margin: 0;
}
	ul.user-manager li{ display: block; margin: 0 }
	ul.user-manager li a{
		font-size: 13px;
		font-family: Helvetica;
		color: #CF614E;
		padding-bottom: 5px;
		border-bottom: 1px solid #ccc;
	}
	ul.user-manager li a:hover{
		background: none;
		color: #CF614E;
		text-decoration: underline;
	}
	
	.user-manager .webform-user{
		margin-top: 0;
	}



.webform-user, .flash-message{
	float: none;
	width: 320px;
	margin: 0 auto;
	margin-top: 30px;
}
	.webform-user h1{
		margin: 0 0 20px;
		padding: 5px 10px;
		color: white;
		font-size: 16px;
		background: #E24D4D;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.webform-user .row{
		margin: 0 0 10px;
/* 		font-size: 15px; */
	}
	.webform-user .text input{
		width: 305px;
		margin: 5px 0 0;
		padding: 5px;
		color: gray;
		border: 1px solid #CCC;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.errorMessage{
		width: 300px;
		margin: 5px 0 0;
		padding: 7px;
		font-size: 12px;
		border: 1px solid #FBC7C6;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #FDDFDE;
	}
	.webform-user .buttons input{
		width: 317px;
		color: #333;
		font-size: 13px;
		line-height: normal;
		border: 1px solid #CCC;
		padding: 5px 14px 6px;
		background-color: #E6E6E6;
		background-repeat: no-repeat;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
		background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.webform-user .buttons input:hover{
		cursor: pointer;
		color: #333;
	}
	.webform-user .registration a, .webform-user .recovery a{
		font-size: 12px;
	}
	
#site-login .flash-message, 
#user-registration .flash-message,
#user-recovery .flash-message{
  width: 365px;
}
.flash-message{
	width: 940px;
}
.flash-success, .flash-error{
	padding: 20px;
	font-size: 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	.flash-error{
		background-color: #FDDFDE;
		border: 1px solid #FBC7C6;
	}
	.flash-success{
		background-color: #D1EED1;
		border: 1px solid #a4d5a4;
}
	}

/**********************
				table
**********************/
td.hide-col{
	display: none;
}
.section3-table thead{
	background: #f5f5f5;
}


/**********************
			 Heading
***********************/



/**********************
			 Map
***********************/
#map{
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	height: 100% !important;
	width: 100% !important;
	z-index: 0 !important;
	padding: 85px 0 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
#map-canvas{
	width: 100%;
	height: 100%;
	display: block;
}



/**********************
		 Header Section
***********************/
/* Logo */
#logo-img{
	position: absolute;
	top: -3px;
	left: 0;
	margin: 0 50px 0 0;
}

/* Nav */
nav {
	float: left;
	margin: 26px 0 0 210px;
	*display: inline
}
  nav ul {
	  list-style: none;
  }
  nav ul li {
	  display: inline;
	  margin: 0 35px 0 0;
  }
  nav ul li:last-child{
	  margin-right: 0;
  }
  nav li a{
	  padding: 0 7px;
	  font: 16px/24px 'DBMettaXMedium';
		font-weight: lighter;
	  color: #afafaf;
	  text-decoration: none;
  }
	  nav li a:hover, nav ul li.active a{
		  background: #616161;
		  color: #fff;
		  text-decoration: none;
		  border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-o-border-radius: 5px;
	  }
	  
*+html nav{ /* IE7 */
	overflow: hidden;
}

.user-manager {
  display: none;
}

nav > ul > li > ul {
    display: none;
}


/**********************
		Content Section
***********************/
/* List */
.db-list{
	float: left;
	width: 580px;
	margin: 5px 0;
	padding: 5px 0;
	line-height: 24px;
	border-bottom: 1px solid #cbcbcb;
}
	/* 	3 Cols in db-list */
	.db-item1{
		float: left;
		width: 200px;
		margin-right: 20px;
		padding-left: 40px;
		background: url('../images/pin-tambon.png') 10px 7px no-repeat ;
	}
	.db-item2{
		float: left;
		width: 250px;
		margin-right: 20px;
	}
	.db-item3{
		float: left;
		width: 270px;
	}
	
	/* 	item1 - Location */
  .db-item1 .level2 {
	  font-weight: bold; 
	  font-size: 1.1em;
  }
  .db-item1 .level3 a{
	  font-weight: bold;
  }
  .db-item1 .label, .db-item2 .extra-double-label {
	  margin: 0 10px 0 0; 
	  color: #666; 
	  font-weight: bold
  }
  .db-item1 h2{
	  font-size: 14px;
	  font-family: Helvetica, Thonburi;
  }
  .db-item1 .location{
	  display: block;
  }
  .db-item1 .label {
	  width: 80px
  }
	/*   Table data */
	  .db-list table td {
			border-top: none;
		}
		.db-item2 tr {
		  height: 20px;
		}
		.db-item1 table td, .db-item2 table td {
		  padding: 0;
		}
  
  /* 	item2 - Info */
	.db-item2{
		float: left;
		width: 250px;
		margin-right: 20px;
	}
	  .db-item2 .extra-double-input {
		  color: #000
	  }
	  
	/* 	item3 - Need */
	.db-item3 li{
		float: left;
		margin: 0 5px 0 0;
		width: 25px;
		list-style: none;
	}
	.db-item3 li .in-active{
		opacity: 0.5;
	}



/**********************
			Keyframes
**********************/
@-moz-keyframes slide{
	0%{
		margin-left: -50px;
		opacity: 0;
	}
	100%{
		margin-left: 0;
		display: block;
		opacity: 1;
	}
}
@keyframes slide{
	0%{
		margin-left: -50px;
		opacity: 0;
	}
	100%{
		margin-left: 0;
		display: block;
		opacity: 1;
	}
}

@-webkit-keyframes slide{
	0%{
		margin-left: -50px;
		opacity: 0;
	}
	100%{
		margin-left: 0;
		display: block;
		opacity: 1;
	}
}



/********************
	Content Manager
/********************/
.content-manager {
    margin: 0 auto;
    padding: 15px 0 0;
    overflow: hidden;
    width: 940px;
}
.content-manager .portlet-title {
  display: none;
}
.content-manager ul {
  float: right;
  margin-bottom: 5px;
}
.content-manager li {
  float: left;
  list-style: none;
  background-color: #FFF;
  padding: 5px 10px 2px;
  margin-left: 2px;
}
.content-manager li:first-child {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.content-manager li:last-child {
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.content-map-row .db-list{
	width: 530px;	
	height: 90px;
	border-bottom: none;
}



/*****************************
				Web form detail
*****************************/
#webform-detail .general {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  width: 278px;
  height: 245px;
}
  #webform-detail .general .meta-wrapper,
  #webform-detail .general .location-list {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
  }
  #webform-detail .general .meta-wrapper {
    /* display: block;
    overflow: hidden; */
    display: inline-block;
    background: #e4e4e4;
  }
    #webform-detail .general .meta { /* ul */
      overflow: hidden;
    }
      #webform-detail .general .meta-wrapper li,
      #webform-detail .general .location-item li {
        margin: 0.5em 0;
        line-height: 1.5;
      }
      #webform-detail .general .meta-wrapper li {
        display: block;
        float: left;
        width: 128px;
      }
  #webform-detail .general .location-list {
    margin-top: 10px;
    border: 1px solid #cfcfcf;
    max-height: 127px;
    overflow: auto;
  }
    #webform-detail .general .location-item {
      overflow: hidden;
      padding-left: 5px;
/*       background: url("../images/pin-tambon.png") no-repeat 3px 8px; */
			background: none;
    }
    #webform-detail .general .location-item label {
      padding-right: 0.5em;
      text-align: left;
			padding-top: 0;
			width: 85px;
    }

#webform-detail #map {
  float: left;
  position: static;
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: content-box;    /* Firefox, other Gecko */
  box-sizing: content-box;         /* Opera/IE 8+ */
  margin: 20px 0 15px;
  border: 1px solid #B5B5B5;
  padding: 10px;
  width: 598px !important;
}

#webform-detail .render-wrapper {
  clear: both;
  overflow: hidden;
  margin-bottom: 40px;
  border: 1px solid #b5b5b5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 40px 20px;
  background: url("../images/bg-white.png");
}
  #webform-detail .display-manager { /* ul */
    /* overflow: hidden; */
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0 25px 9px;
    width: auto;
    background: transparent;
  }
    #webform-detail .display-manager li {
    }
    #webform-detail .display-manager li:first-child {
      border-right: none;
      padding-right: 0;
    }
      #webform-detail .display-manager li a {
        /* float: left; */
        padding: 11px 16px;
        color: #afafaf;
        text-decoration: none;
      }
      #webform-detail .display-manager li a:hover,
      #webform-detail .display-manager li a:active {
        text-decoration: underline;
      }
      #webform-detail .display-manager li a.active {
        border: 1px solid #b5b5b5;
        border-bottom: none;
        padding: 10px 15px;
        /* background: url("../images/bg-white.png"); */
        background: #fbfbfb;
        color: #444;
      }
  
  #webform-detail #tab-content {
    clear: both;
    padding: 20px 0 0;
    border: none;
    background: transparent;
  }

.filter-item, .full-description {
  margin: 0.5em 0;
  line-height: 1.5em;
}
  .filter-item .filter-item-label,
  .filter-item .filter-item-description,
  .filter-item .filter-item-prefix,
  .filter-item .filter-item-value {
    display: inline;
  }
  
.webform-field {
  border-bottom: 1px solid #dadada;
  margin: 20px 0;
  padding: 0 0 20px;
/*   padding: 10px; */
}
.webform-field input {
  border: 0px none;
  background: none;
  border-bottom: 1px solid #AAAAAA;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	-khtml-border-radius: 0px;
}

#webform-view .display-hide, 
#webform-detail .display-hide {
  display: none;
}

/* Webform list */
#webform-list h1{
	font-size: 18px;
}
#webform-list .pager{
	clear: both;
	padding: 15px 0;
	text-align: center;
}
.popup-box-wrapper{
	float: right;
	width: 590px;
	margin: 20px 0 0;
	padding: 10px;
	background: #fff;
	position: relative;
	z-index: 10;
	border: 1px solid #B2B2B2;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}



/**********************
		List of location
***********************/
#location-multiple{
	margin: 0 0 20px;
}
#location-selected{
	overflow: auto;
	max-height: 150px;
	overflow-x: hidden;
	border: 1px solid #CCC;
	padding: 10px;
	margin: 0 0 20px;
}
.location-selected-item{
	overflow: hidden;
	width: 100%;
	padding: 7px 0 0 7px;
	border-bottom: 1px dashed #D0D0D0;
}
.location-selected-item:nth-child(2n+1){
		background: #f2f2f2;
	}
	.location-selected-labal, .location-selected-delete{
		float: left;
	}
	.location-selected-delete{
		display: block;
		float: left;
		width: 10px;
		height: 15px;
		padding-left: 20px;
		margin-right: 5px;
		text-indent: -999em;
		background: url('../images/ic-delete.png') no-repeat ;
	}
	.location-selected-labal li{
		float: left;
		margin: 0 10px 0 0;
		list-style: none;
	}
	.location-selected-labal li label{
		float: none;
		width: auto;
		margin: 0 10px 0 0;
	}
	.location-selected-labal .label{
		background: none;
	}