/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

/*
* layout
*/
body{
	color: #444444;
	background: url('../images/bg-tambon.png') ;
}
#wrapper {
  width: 100%;
  margin: 0 auto;
}

/*
* All h1-h6 
*/

@font-face {
    font-family: 'DBMettaXMedium';
    src: url('../font/db_metta_x_med_v3.2-webfont.eot');
    src: url('../font/db_metta_x_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/db_metta_x_med_v3.2-webfont.woff') format('woff'),
         url('../font/db_metta_x_med_v3.2-webfont.ttf') format('truetype'),
         url('../font/db_metta_x_med_v3.2-webfont.svg#DBMettaXMedium') format('svg');
    font-weight: lighter;
    font-style: normal;
}

#section-report h2, #section-database header h2,
#entry-1 header h1{
	font-size: 36px;
	margin-bottom: 15px;
	font-family: DBMettaXMedium;
	font-weight: lighter;
}

h1{
	font-size: 36px;
	margin-bottom: 10px;
	line-height: 32px;
	font-family: DBMettaXMedium;
}
h2{
	font-size: 26px;
	margin-bottom: 10px;
	font-family: DBMettaXMedium;
	font-weight: lighter;
}
h3{
	font-size: 16px;
	margin-bottom: 10px;
}

p{
	margin-bottom: 25px;
}


/*
* Logo
*/
#logo{
	float: left;
}
#logo a{
	width: 264px;
	height: 35px;
	display: block;
	text-indent: -999em;
	background: url('../images/logo-tambon.png') no-repeat ;
}

/*
* Links
*/
a{
	color: #cf614e;
}
a:link    {}
a:visited {}
a:hover   {
	color: #cf614e;
	text-decoration: underline;
}
a:active  {}


/*
* Header
*/
#header {
	margin: 0 auto;
	margin-bottom: 20px;
}
#header header {
	padding: 40px 0 20px;
	background: url('../images/bg-header-tambon.png') center bottom no-repeat ;
}


/*
* Search Box
*/
#search{
	float: right;
	display: inline;
}
	#search label{
		text-indent: -999em;
		position: absolute;
	}
	#search .form-text{
		height: 14px;
		padding: 3px;
		color: #7676ae;
		border: 1px solid #b9b9b9;
		font-size: 11px;
	}
	#search .submit-search{
		border: none;
		height: 22px;
		margin-left: -4px;
		color: #fff;
		background: #A3A3A3;
	}

/*
* Nav
*/
*+html nav{
	overflow: hidden;
}
nav {
	clear: both;
	text-align: right;
	padding: 10px 0 0;
}
  nav ul {
	  list-style: none;
  }
  nav ul li {
	  display: inline;
	  margin: 0 15px;
  }
  nav ul li:last-child{
	  margin-right: 0;
  }
  nav a{
	  color: #7d7d7d;
  }

/*
* header-top
*/
#header-top {
	margin: 0 0 20px;
  border-bottom: 7px solid #cf614e;
}
#header-top section {

}

#content, #header header, footer {
	width: 840px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

/*
* content
*/
#content {
	overflow: hidden;
	padding: 0 0 40px;
	background: url('../images/bg-bottom-tambon.png') center bottom no-repeat ;
}
	#content article, #section-stat {
/*
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
*/
	}


/*
* Drop shadow & border-radius
*/
.drop-shadow {
	position:relative;   
	padding:1em; 
	margin:2em 10px 4em; 
	background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 0 20px;
  float: left;
  width: 800px;
  clear: both;
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute; 
  z-index:-2;
}
/* Curved shadows */
.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.3);
    box-shadow:0 0 15px rgba(0,0,0,0.3);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}
.curved-vt-2:before {
    right:0;
}
.curved-hz-1:before {
    top:50%;
    bottom:0;
    left:130px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
    width: 70%;
}
.curved-hz-2:before {
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}


/*
* Separate 2 section in block
*/
.st-area, #rp-sticky{
	float: left;
	padding : 0 25px 0 0;
	width: 250px;
	border-right: 1px solid #ccc;
}


.st-need, #rp-list{
	float: left;
	padding : 0 0 0 25px;
	width: 490px
}


/*
* ข้อมูลพื้นที่ที่ได้รับความเสียหาย
*/
.st-area li{
	float: left;
	width: 90px;
	padding: 10px;
	margin: 0 10px 0 0;
	text-align: center;
	border: 1px solid #dbdbdb;
	-moz-box-shadow: inset 0 0 5px #e6e6e6;
	-webkit-box-shadow: inset 0 0 5px #e6e6e6;
	box-shadow: inner 0 0 5px #e6e6e6;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fcfcfc;
}
.st-area h1, .st-need h1{
	font-size: 28px;
	margin-bottom: 10px;
	font-weight: lighter;
}
#section-stat .st-area li h2{
	font-size: 20px;
}
.st-area li h2{
	margin: 0 0 5px;
}
strong.help{
	font-size: 26px;
	color: #cf614e;
}
strong.location{
	font-size: 26px;
}

.st-need ul{
	list-style: none;
	margin: 0;
}
.st-need li{
	float: left;
	width: 220px;
	margin: 0 20px 10px 0;
}

/*
* รายงานสถานการณ์
*/
#rp-list article{
	margin: 0 0 10px;
	line-height: 1.8em;
}
#rp-list span, #rp-sticky span, #situation-list article span{
	padding: 3px 7px;
	background: #dbdbdb;
	font-size: 11px;
	color: #646464;
	margin-right: 10px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#rp-sticky h3{
	font-size: 15px;
	margin: 10px 0;
}
#rp-list p{
	display: inline;
}

/* สถานการณ์ */
#situation-list article {
  width: 760px;
  overflow: hidden;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#situation-list article.odd {background: #f2f2f2;}
#situation-list article.even {background: #fff;}

#situation-list article span {float: left; margin-right: 20px;}
#situation-list article p.title {float: left; margin-right: 20px; width: 220px; font-size: 1.1em;}
#situation-list article p.desc {float: left; width: 370px;}

/*
* ฐานข้อมูล
*/
.db-list{
	float: left;
	width: 800px;
	margin: 10px 0;
	padding: 10px 0;
	line-height: 24px;
	border-bottom: 1px solid #cbcbcb;
}
	/* 	3 Cols in db-list */
	.db-item1{
		float: left;
		width: 240px;
		margin-right: 20px;
	}
	  
	.db-item1 h2{
		font-size: 13px;
		font-family: Thonburi,Helvetica,Tahoma,sans-serif;		
	}
	  .db-item1 li span.level2 {font-weight: bold; font-size: 1.1em;}
	
	  .db-item1 li span.label, .db-item2 .extra-double-label {margin: 0 10px 0 0; color: #666; font-weight: bold}
		.db-item1 li span.label:after, .db-item2 .extra-double-label:after {content: " :"}
	
	.db-item2{
		float: left;
		width: 250px;
		margin-right: 20px;
	}
	
	  .db-item2 .extra-double-input {padding: 0 0 0 10px; color: #000}
	
	
	.db-item3{
		float: left;
		width: 270px;
	}

#section-database header h2, #section-database header form, #section-database header h1{
	float: left;
	margin: 0 15px 0 0;
	font-weight: lighter;
	line-height: 28px;
}
#section-database header form{
	line-height: 26px;
}
	#section-database header form label{
		/* margin-right: 10px; */
		text-indent: -999em;
		position: absolute;
		overflow: hidden;
	}

.db-item1 h2{
	padding-left: 30px;
	color: #da6b63;
	background: url('../images/pin-tambon.png') 0 7px no-repeat ;
}

.db-item1 h2 .location{
	color: #333;
	display: block;
}

.db-item3 li{
	float: left;
	margin: 0 10px 5px 0;
	width: 25px;
}
.db-item3 li .in-active{
	opacity: 0.5;
}


/*
* about
*/
#about ol {margin: 0 0 20px 20px}

/*
* form
*/

select {
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*
* footer
*/
#footer {
  padding: 10px 0;
  clear: both;
  font-size: 11px;
}
footer{
	overflow: hidden;
}
#nav-footer{
	float: left;
}
	#nav-footer li {
	  display: inline;
	  margin: 0 10px 0 0;
	}
	#nav-footer a{
	  color: #7d7d7d;
	}
	
#footer-copyright{
	float: right;
	width: 385px;
}
#footer-copyright img{
	margin-right: 10px;
}
#develop{
/* 	clear: both; */
	float: right;
	width: 200px;
}

.readmore a{
	clear: both;
	float: right;
	display: block;
	width: 81px;
	height: 34px;
	text-indent: -999em;
	background: url('../images/readmore.png') no-repeat ;
}
.readmore a:hover{
	background-position: 0 -34px;
}

/*
* Bar
*/
.st-need li img{
	float: left;
	margin: 0 10px 0 0;
}
.bar{
	float: left;
	width: 180px;
	height: 17px;
	margin-top: 2px;
}

@-webkit-keyframes foo {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.bar div{
	background: #ff5959;
	height: 17px;
	color: #fff;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
 -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -ms-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
        transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 

-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
        transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
}
.bar div span{
	font-weight: bold;
	padding: 0 5px;
	color: #fff;
	float: right;
	font-size: 11px;
}



/*
* Entry page
*/
/* Set width & width shadow */
.st-update, #map{
	width: 520px;
}
#request-locationView .st-need{
	float: left;
	width: 230px;
	margin-top: -245px;
	margin-left: 585px;
}
#request-locationView .curved-hz-1:before{
	left: 30px;
}

/* 2 Cols */
.col2{
	float: left;
	width: 370px;
	margin: 0 30px 0 0;	
}

/* tambon another */
#st-village ul li{
	float: left;
	width: 230px;
	margin: 0 20px 5px 0;
}
#request-locationView .st-need{
	padding: 20px 0 20px 25px;
}

.entry-update{
	width: 380px;
	float: left;
}
.entry-update header{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	text-align: center;
}
.entry-update p{
	float: left;
	font-size: 14px;
	width: 105px;
	margin: 0 20px 0 0;
}
.entry-update strong{
	font-size: 24px;
	font-weight: bold;
	display: block;
	margin-top: 5px;
}
#entry-date{
	width: 115px;
	height: 110px;
	float: left;
	margin-right: 25px;
}

#entry-date .year{
	display: block;
	font-size: 18px;
	margin: 0 0 10px;
	font-weight: bold;
	text-align: center;
}

#entry-date .day, #entry-date .month{
	padding: 30px 5px 15px 5px;
	font-size: 32px;
	background: #F7F4EE;
	border: 1px solid #CDCBC6;
	display: block;
	float: left;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f7f4ee url('../images/clock-day.png') no-repeat ;
}
#entry-date .day{
	margin-right: 5px;
	background-position: 13px 6px;
}
#entry-date .month{
	background-position: 6px -78px;
}


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}

/*
* table
*/
table {
  width: 100%;
  margin-bottom: 25px;
  padding: 0;
  font-size: 13px;
  border-collapse: collapse;
/*   border: 1px solid #ddd; */
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

table th + th, table td + td, table th + td {
/*   border-left: 1px solid #ddd; */
}
table thead tr:first-child th:first-child, table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table thead tr:first-child th:last-child, table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}


table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
table th {
  background: #e2e2e2;
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
}
table td {
  vertical-align: top;
  border-top: 1px dashed #ddd;
}
table tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}
.zebra-striped tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td, .zebra-striped tbody tr:hover th {
  background-color: #f5f5f5;
}


/* ul */
ul, ol {
margin: 0 0 18px 25px;
}
ul {
list-style: disc;
}
li {
line-height: 18px;
color: gray;
}

